<img src="../../../assets/images/7.png" alt="" srcset="" class="w-screen ">
<div class="container mx-auto px-4 py-10 md:py-20 lg:py-32">
    <div class="lineUp grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <div class="boxServico border-4 h-full">
            <div class="imgElipse bg-gray-600 m-10 h-72 w-72 rounded-full mx-auto md:mx-0 md:mb-6 md:mt-0"></div>
            <h1 class="text-center md:text-left">Primeiro Bloco</h1>
            <ul>
                <li>Lavagem química</li>
                <li>Troca de tela</li>
                <li>Troca de teclado</li>
                <li>Troca de botão power</li>
                <li>Troca de conector de jack dc/dc</li>
                <li>Limpeza interna Notebook/Desktop/Placa de vídeo</li>
                <li>Reparo em carcaça</li>
                <li>Solda de dobradiças</li>
            </ul>    
        </div>
        <div class="boxServico border-4 h-full">
            <div class="imgElipse bg-gray-600 m-10 h-72 w-72 rounded-full mx-auto md:mx-0 md:mb-6 md:mt-0"></div>
            <h1 class="text-center md:text-left">Segundo bloco</h1>
            <ul>
                <li>Lavagem química</li>
                <li>Troca de tela</li>
                <li>Troca de teclado</li>
                <li>Troca de botão power</li>
                <li>Troca de conector de jack dc/dc</li>
                <li>Limpeza interna Notebook/Desktop/Placa de vídeo</li>
                <li>Reparo em carcaça</li>
                <li>Solda de dobradiças</li>
            </ul>    
        </div>
        <div class="boxServico border-4 h-full">
            <div class="imgElipse bg-gray-600 m-10 h-72 w-72 rounded-full mx-auto md:mx-0 md:mb-6 md:mt-0">
            </div>
            <h1 class="text-center md:text-left">Terceiro bloco</h1>
            <ul>
                <li>Lavagem química</li>
                <li>Troca de tela</li>
                <li>Troca de teclado</li>
                <li>Troca de botão power</li>
                <li>Troca de conector de jack dc/dc</li>
                <li>Limpeza interna Notebook/Desktop/Placa de vídeo</li>
                <li>Reparo em carcaça</li>
                <li>Solda de dobradiças</li>
            </ul>    
        </div>
    </div>


    <div class="lineDown grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-6">
        
    </div>
</div>
