<img src="../../../assets/images/7.png" alt="" srcset="" class="w-screen">
<div class="container mx-auto px-4 h-max p-20 pt-12">
    <div class="lineUp grid grid-cols-12 mb-10">
        <div class="boxServico border-4 col-span-4 h-screen">
            <div class="imgElipse bg-gray-600 m-10 h-72 w-72 rounded-full">
                
            </div>
            <h1>Manutenção</h1>
            <ul>

            </ul>
        </div>
        <div class="boxServico border-4 col-span-4 mx-6">
            <div class="imgElipse bg-gray-600 m-10 h-72 w-72 rounded-full">
                
            </div>
            <ul>

            </ul>
        </div>
        <div class="boxServico border-4 col-span-4 mx-6">
            <div class="imgElipse bg-gray-600 m-10 h-72 w-72 rounded-full">
                
            </div>
            <h1>Manutenção</h1>
            <ul>

            </ul>
        </div>

        
    </div>
    <div class="lineDown grid grid-cols-12">
        <div class="boxServico border-4 col-span-4 mx-6 h-screen ">
            <h1>Manutenção</h1>
            <ul>

            </ul>
        </div>
        <div class="boxServico border-4 col-span-4 mx-6">
            <h1>Manutenção</h1>
            <ul>

            </ul>
        </div>
        <div class="boxServico border-4 col-span-4 mx-6">
            <h1>Manutenção</h1>
            <ul>

            </ul>
        </div>
    </div>
</div>
