<img src="../../../assets/images/7.png" alt="" srcset="" class="w-full ">
<div class="container mx-auto px-4 py-10 md:py-20 lg:py-32">
    <div class="lineUp grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <div class="boxServico border-4 h-full p-4">
            <div class="imgElipse h-72 w-72 rounded-full mx-auto md:mx-16 md:mb-6 md:mt-0 overflow-hidden">
                <img src="../../../assets/images/Boneco_Processador.jpg" alt="" srcset="" class="w-full h-full object-cover">
            </div>            

            <p class="text-center md:text-center mx-4 md:mx-0 text-3xl md:text-4xl lg:text-5xl font-bold">Hardware</p>
            <ul class="marker:text-sky-400 list-disc pl-5 space-y-3 text-slate-500 mx-4 md:mx-0 pt-16">
                <li><p class="text-xl md:text-2xl lg:text-3xl">Lavagem química</p></li>
                <li><p class="text-xl md:text-2xl lg:text-3xl">Troca de teclado</p></li>
                <li><p class="text-xl md:text-2xl lg:text-3xl">Troca de botão power</p></li>
                <li><p class="text-xl md:text-2xl lg:text-3xl">Troca de conector de jack dc/dc</p></li>
                <li><p class="text-xl md:text-2xl lg:text-3xl">Limpeza interna Notebook/Desktop/Placa de vídeo</p></li>
                <li><p class="text-xl md:text-2xl lg:text-3xl">Reparo em carcaça</p></li>
                <li><p class="text-xl md:text-2xl lg:text-3xl">Solda de dobradiças</p></li>
            </ul>
        </div>
        <div class="boxServico border-4 h-full p-4">
            <div class="imgElipse h-72 w-72 rounded-full mx-auto md:mx-16 md:mb-6 md:mt-0 overflow-hidden">
                <img src="../../../assets/images/Notebook.jpg" alt="" srcset="" class="w-full h-full object-cover ">
            </div>            

            <p class="text-center md:text-center mx-4 md:mx-0 text-3xl md:text-4xl lg:text-5xl font-bold">Software</p>
            <ul class="marker:text-sky-400 list-disc pl-5 space-y-3 text-slate-500 mx-4 md:mx-0 pt-16">
                <li><p class="text-xl md:text-2xl lg:text-3xl">Lavagem química</p></li>
                <li><p class="text-xl md:text-2xl lg:text-3xl">Troca de teclado</p></li>
                <li><p class="text-xl md:text-2xl lg:text-3xl">Troca de botão power</p></li>
                <li><p class="text-xl md:text-2xl lg:text-3xl">Troca de conector de jack dc/dc</p></li>
                <li><p class="text-xl md:text-2xl lg:text-3xl">Limpeza interna Notebook/Desktop/Placa de vídeo</p></li>
                <li><p class="text-xl md:text-2xl lg:text-3xl">Reparo em carcaça</p></li>
                <li><p class="text-xl md:text-2xl lg:text-3xl">Solda de dobradiças</p></li>
            </ul>
        </div>
        <div class="boxServico border-4 h-full p-4">
            <div class="imgElipse h-72 w-72 rounded-full mx-auto md:mx-16 md:mb-6 md:mt-0 overflow-hidden">
                <img src="../../../assets/images/Motherboard.jpg" alt="" srcset="" class="w-full h-full object-cover">
            </div>            

            <p class="text-center md:text-center mx-4 md:mx-0 text-3xl md:text-4xl lg:text-5xl font-bold">Backup e HDD</p>
            <ul class="marker:text-sky-400 list-disc pl-5 space-y-3 text-slate-500 mx-4 md:mx-0 pt-16">
                <li><p class="text-xl md:text-2xl lg:text-3xl">Lavagem química</p></li>
                <li><p class="text-xl md:text-2xl lg:text-3xl">Troca de teclado</p></li>
                <li><p class="text-xl md:text-2xl lg:text-3xl">Troca de botão power</p></li>
                <li><p class="text-xl md:text-2xl lg:text-3xl">Troca de conector de jack dc/dc</p></li>
                <li><p class="text-xl md:text-2xl lg:text-3xl">Limpeza interna Notebook/Desktop/Placa de vídeo</p></li>
                <li><p class="text-xl md:text-2xl lg:text-3xl">Reparo em carcaça</p></li>
                <li><p class="text-xl md:text-2xl lg:text-3xl">Solda de dobradiças</p></li>
            </ul>
        </div>
    </div>
    <!-- Adicione conteúdo para a seção lineDown aqui, se necessário -->
</div>
