<nav class="bg-white shadow-lg">
    <div class="container mx-auto px-6 py-3">
      <div class="flex items-center justify-between">
        <div class="text-xl font-semibold text-blue-900">
          <a href="#">HamuiTech</a>
        </div>
        <div class="flex space-x-4">
          <a href="/" class="text-gray-900 hover:text-blue-900">Home</a>
          <a routerLink="/contato" class="text-gray-900 hover:text-blue-900">Contato</a>
          <a routerLink="/servicos" class="text-gray-900 hover:text-blue-900">Serviços</a>
          <a href="#" class="text-gray-900 hover:text-blue-900">FAQ</a>
        </div>
      </div>
    </div>
</nav>
