<nav class="bg-white shadow-lg">
    <div class="container mx-auto px-6 py-9">
        <div class="flex items-center justify-between">
            <div class="transform text-xl font-semibold text-blue-900">
                <div class="h-16">
                    <a routerLink="/"><img src="../../../../assets/images/logoTransparente.png" alt="" class="h-26 max-h-screen"></a>
                </div>
            </div>
            <div class="flex space-x-4">
                <a routerLink="/"
                    class="text-gray-900 font-sans font-medium px-5 tracking-wide text-base transform hover:scale-110 hover:duration-500 hover:text-blue-900 text-xl">Home</a>
                <a routerLink="/servicos"
                    class="text-gray-900 font-sans font-medium px-5 tracking-wide text-base transform hover:scale-110 hover:duration-500 hover:text-blue-900 text-xl">Serviços</a>
                <a routerLink="/unidades"
                    class="text-gray-900 font-sans font-medium px-5 tracking-wide text-base transform hover:scale-110 hover:duration-500 hover:text-blue-900 text-xl">Unidades</a>
                
                <a routerLink="/contato"
                    class="text-gray-900 font-sans font-medium px-5 tracking-wide text-base transform hover:scale-110 hover:duration-500 hover:text-blue-900 text-xl">Contato</a>
                <a href="#FAQ"
                    class="text-gray-900 font-sans font-medium px-5 tracking-wide text-base transform hover:scale-110 hover:duration-500 hover:text-blue-900 text-xl">FAQ</a>
            </div>
        </div>
    </div>
</nav>
<hr style="height: 6px; background-color:#1c74ba; border:none;">