<section class="container mx-auto">
    <div class="flex flex-col lg:flex-row space-y-5 lg:space-y-0 lg:space-x-5">
        <!-- Card 1 - Missão -->
        <div class="bg-white rounded-lg shadow-lg p-4 lg:p-8 w-full lg:w-1/3 max-w-full">
            <fa-icon class="text-blue-500 text-4xl mx-auto flex justify-center mt-4" [icon]="globeIcon"></fa-icon>
            <div class="mt-4">
                <h3 class="text-xl lg:text-2xl font-semibold text-gray-800 text-center">Missão</h3>
                <p class="mt-2 text-gray-600 text-justify text-base">
                    Oferecer a melhor manutenção prestação de serviço de informática através de transparência e ética com respeito, qualidade, agilidade, eficiência e preço justo. Inspirando as pessoas a acreditarem que o mundo pode ser mais ético, correto e honesto.
                </p>
            </div>
        </div>

        <!-- Card 2 - Visão -->
        <div class="bg-white rounded-lg shadow-lg p-4 lg:p-8 w-full lg:w-1/3 max-w-full">
            <fa-icon class="text-blue-500 text-4xl mx-auto flex justify-center mt-4" [icon]="chartIcon"></fa-icon>
            <div class="mt-4">
                <h3 class="text-xl lg:text-2xl font-semibold text-gray-800 text-center">Visão</h3>
                <p class="mt-2 text-gray-600 text-justify text-base">
                    Ser reconhecida como referência no Brasil, em manutenção de equipamentos de informática como a empresa mais transparente que o cliente já contratou.
                </p>
            </div>
        </div>

        <!-- Card 3 - Valores -->
        <div class="bg-white rounded-lg shadow-lg p-4 lg:p-8 w-full lg:w-1/3 max-w-full">
            <fa-icon class="text-blue-500 text-4xl mx-auto flex justify-center mt-4" [icon]="thumbsIcon"></fa-icon>
            <div class="mt-4">
                <h3 class="text-xl lg:text-2xl font-semibold text-gray-800 text-center">Valores</h3>
                <p class="mt-2 text-gray-600 text-justify text-base">
                    Oferecer a melhor manutenção prestação de serviço de informática através de transparência e ética com respeito, qualidade, agilidade, eficiência e preço justo. Inspirando as pessoas a acreditarem que o mundo pode ser mais ético, correto e honesto.
                </p>
            </div>
        </div>
    </div>
</section>
