<div class="container sm:text-left ml-10  md:mx-28 px-4 max-h-screen h-screen flex items-center justify-center">
    <div class="grid grid-cols-12 gap-6 lg:gap-12">
        <!-- Lado Esquerdo (Texto e Título) -->
        <div class="col-span-12 lg:col-span-8 flex flex-col justify-center">
            <h2 class="font-black text-4xl lg:text-5xl text-center mb-4 lg:mb-8">Quem somos</h2>
            <p class="text-xl lg:text-2xl text-center lg:text-justify">Somos uma empresa especializada em serviços de reparos com mais de 15 anos de experiência.
                Trabalhamos com os seguintes equipamentos: Computadores de mesa (desktop), notebook, netbook,
                ultrabook, placa mãe de desktop também reparo e troca de socket), reparo em processadores AMD
                Ryzen (terminal quebrado ou torto) All in One, servidor, Apple Macbook Pro e Air, iMac, placa de vídeo,
                vídeo game, monitor e recuperação de dados.</p>
            </div>
        <!-- Lado Direito (Imagem) -->
        <div class="col-span-12 lg:col-span-4 flex items-center justify-center">
            <img src="../../../../assets/images/logoTransparente.png" alt="" class="w-2/3 lg:w-max relative py-12 lg:py-0 px-4">
        </div>
    </div>
</div>
