<div class="container mx-auto px-4 h-max p-0" style="background-color:darkblue;">
    <div class="grid grid-cols-12 gap-12">
        <div class="textoQuemSomos col-span-8 pl-6 p-12">
            <p class="font-black text-4xl">Quem somos</p>
            <p>Somos uma empresa especializada em serviços de reparos com mais de 15 anos de experiência.
                Trabalhamos com os seguintes equipamentos: Computadores de mesa (desktop), notebook, netbook,
                ultrabook, placa mãe de desktop também reparo e troca de socket), reparo em processadores AMD
                Ryzen (terminal quebrado ou torto) All in One, servidor, Apple Macbook Pro e Air, iMac, placa de vídeo,
                vídeo game, monitor e recuperação de dados.</p>
        </div>
        <div class="imageQuemSomos col-span-4 h-96 w-max place-content-center">
            <img src="../../../../assets/images/logoTransparente.png " alt="" class="min-w-max relative py-36 px-4" >
        </div>
    </div>
</div>