<div class="container mx-auto px-4 h-96 p-6" style="background-color:blue;">
    <div class="grid grid-cols-12 gap-12">
        <div class="textoQuemSomos col-span-8 pl-6">
            <h1 class="font-black ">Quem somos</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo odit iure porro possimus maiores, aspernatur magnam assumenda aliquam quos debitis dignissimos consequuntur quas ipsam at! Expedita alias accusamus ab sint?</p>
        </div>
        <div class="imageQuemSomos col-span-4 h-80 w-max place-content-center">
            <img src="../../../../assets/images/logoTransparente.png " alt="" class="min-w-max" >
        </div>
    </div>
</div>