<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
<!-- <div class="whatsapp-widget text-center">
    <a href="https://api.whatsapp.com/send?phone=11940645167" target="_blank" class="whatsapp-link">
        <fa-icon [icon]="whatsappIcon" class="whatsapp-icon"></fa-icon>
        <span class="whatsapp-text">Entre em contato pelo WhatsApp</span>
    </a>
</div> -->
<div class="whatsapp-widget text-center">
    <a href="https://api.whatsapp.com/send?phone=11940645167" target="_blank" class="whatsapp-link flex items-center justify-center group relative">
        <div class="whatsapp-icon">
            <fa-icon [icon]="whatsappIcon" class="whatsapp-icon"></fa-icon>
        </div>
        <div class="whatsapp-text opacity-0 group-hover:opacity-100 ml-2">
            Entre em contato pelo WhatsApp
        </div>
    </a>
</div>

