
    <div class="h-screen">
        <div class="w-full m-0">
        <img [src]="getImageUrl()" alt="" srcset="" class="w-full min-h-screen p-0 m-0 ">
        </div>
    </div>
    <app-grid-unidades></app-grid-unidades>
    <div class="">
        <app-grid-quem-somos></app-grid-quem-somos>
    </div>
    <div class="h-screen max-sm:h-auto max-sm:mb-16">
        <app-grid-servicos></app-grid-servicos>
    </div>
    <div class="h-screen">
        <app-grid-prova-social></app-grid-prova-social>
    </div>
    <app-grid-faq></app-grid-faq>