<div class="container mx-auto px-4 h-96 p-20 " style="background-color: ; ">
    <div class="title text-center text-3xl ">
        <div class="box border rounded-3xl border-red-300">
            <h1 class="font-black p-6">Escolha um dos pontos de coleta na HaimuTech</h1>
            <div class="bottomBox grid grid-cols-12 gap-12 p-8">
                <!-- Lado Esquerdo -->
                <div class="main_left grid col-span-6">
                    <ul>
                        <h1>Unidades</h1>
                        <li>Click Componentes</li>
                        <li>Click & Cell</li>
                        <li>Stilo Cell</li>
                    </ul>
                </div>
                <!-- Lado Direito -->
                <div class="main_right grid col-span-6">
                    <ul class="col-span-2">
                        <h1>Endereço</h1>
                        <li>Avenida Presidente Vargas</li>
                        <li>Avenida Rubens Caramez</li>
                        <li>Avenida Rubens Caramez</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>