<div class="container mx-auto px-4 max-h-screen p-0 h-screen flex flex-col justify-center items-center" style="background-color:rgb(255, 0, 170);">
    <h1 class="text-black text-center text-4xl py-10">Serviços</h1>
    <div class="max-w-2xl mx-auto">
        <app-carousel></app-carousel>
    </div>
    <button class="rounded-full bg-blue-500 px-5 py-3 text-base mb-3 font-medium text-white transition duration-200 hover:bg-blue-600 active:bg-blue-700">
        Todos os serviços
    </button> 
    <div class="flex justify-center space-x-6 mt-10">
        <div class="text-center">
            <span class="text-blue-900 text-5xl block">100,000,000+</span>
            <span class="text-gray-700 text-lg mt-1">Mais de 1 milhão de visualizações por mês no Youtube.</span>
        </div>

        <div class="text-center">
            <span class="text-blue-900 text-5xl block">1,500+</span>
            <span class="text-gray-700 text-lg mt-1">Mais de 1500 equipamentos recebidos por mês.   </span>
        </div>

        <div class="text-center">
            <span class="text-blue-900 text-5xl block">90%</span>
            <span class="text-gray-700 text-lg mt-1">Com mais de 90% de sucesso nos reparos.</span>
        </div>
    </div>
    
</div>
