<div class="container mx-auto px-4 p-0 flex flex-col justify-center items-center">
    <h1 class="text-black text-center text-2xl md:text-4xl py-5 md:py-10">Serviços</h1>
    <div class="max-w-screen-md mx-auto">
        <app-carousel></app-carousel>
    </div>
    <button class="rounded-full bg-blue-500 px-4 md:px-5 py-2 md:py-3 text-base md:text-lg mt-3 md:mt-5 mb-3 font-medium text-white transition duration-200 hover:bg-blue-600 active:bg-blue-700">
        Todos os serviços
    </button>
    <div class="flex flex-col md:flex-row justify-center space-y-6 md:space-y-0 md:space-x-6 mt-5 md:mt-10">
        <div class="text-center">
            <span class="text-blue-900 text-3xl md:text-5xl block">100M+</span>
            <span class="text-gray-700 text-base md:text-lg mt-1">Mais de 1 milhão de visualizações por mês no Youtube.</span>
        </div>

        <div class="text-center">
            <span class="text-blue-900 text-3xl md:text-5xl block">1.5K+</span>
            <span class="text-gray-700 text-base md:text-lg mt-1">Mais de 1500 equipamentos recebidos por mês.</span>
        </div>

        <div class="text-center">
            <span class="text-blue-900 text-3xl md:text-5xl block">90%</span>
            <span class="text-gray-700 text-base md:text-lg mt-1">Com mais de 90% de sucesso nos reparos.</span>
        </div>
    </div>
</div>
