<section id="FAQ" class="container mx-auto px-4 p-0 pt-48 bg-white dark:bg-gray-900">
    <div class="container px-6 py-12 mx-auto">
        <h1 class=" text-center text-2xl font-semibold text-gray-800 lg:text-3xl dark:text-white">Dúvidas frequentes dos nossos clientes!</h1>

        <div class="grid grid-cols-1 gap-8 mt-8 lg:mt-16 md:grid-cols-2 xl:grid-cols-3">
            <div>
                <div class="inline-block p-3 text-white bg-principal rounded-lg">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </div>

                <div>
                    <h1 class="text-xl font-semibold text-gray-700 dark:text-white">Quais equipamentos vocês reparam?</h1>

                    <p class="mt-2 text-sm text-gray-500 dark:text-gray-300">
                        Trabalhamos com reparos dos seguintes equipamentos: Computadores de mesa (desktop), notebook, netbook,
                        ultrabook, placa mãe de desktop (também troca de socket), recuperação de processadores AMD Ryzen
                        (terminal quebrado ou amassado) All in One, servidor, Macbook PRO e AIR, iMac, placa de vídeo, vídeo
                        game, monitor e recuperação de dados.
                    </p>
                </div>
            </div>

            <div>
                <div class="inline-block p-3 text-white bg-principal rounded-lg">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </div>

                <div>
                    <h1 class="text-xl font-semibold text-gray-700 dark:text-white">Cobram para fazer orçamento?</h1>

                    <p class="mt-2 text-sm text-gray-500 dark:text-gray-300">
                        O orçamento é feito mediante análise por um de nossos técnicos, após a entrega do equipamento em uma
                        de nossas unidades.
                    </p>
                </div>
            </div>

            <div>
                <div class="inline-block p-3 text-white bg-principal rounded-lg">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </div>

                <div>
                    <h1 class="text-xl font-semibold text-gray-700 dark:text-white">Qual o prazo de garantia?</h1>

                    <p class="mt-2 text-sm text-gray-500 dark:text-gray-300">
                        São 90 dias de garantia sobre o reparo executado.
                    </p>
                </div>
            </div>

            <div>
                <div class="inline-block p-3 text-white bg-principal rounded-lg">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </div>

                <div>
                    <h1 class="text-xl font-semibold text-gray-700 dark:text-white"> Qual a forma de pagamento?</h1>

                    <p class="mt-2 text-sm text-gray-500 dark:text-gray-300">
                        Aceitamos pagamento em dinheiro, depósito, transferência bancária, cartão de débito e crédito.
                    </p>
                </div>
            </div>

            <div>
                <div class="inline-block p-3 text-white bg-principal rounded-lg">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </div>

                <div>
                    <h1 class="text-xl font-semibold text-gray-700 dark:text-white">Quanto tempo leva para montar um computador personalizado?</h1>

                    <p class="mt-2 text-sm text-gray-500 dark:text-gray-300">
                        tempo de montagem depende dos componentes escolhidos e do nível de personalização desejado pelo
                        cliente. Em geral, podemos montar o computador em até uma semana após a escolha dos componentes.
                    </p>
                </div>
            </div>

            <div>
                <div class="inline-block p-3 text-white bg-principal rounded-lg">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </div>

                <div>
                    <h1 class="text-xl font-semibold text-gray-700 dark:text-white">Qual o prazo para orçamento?</h1>

                    <p class="mt-2 text-sm text-gray-500 dark:text-gray-300">
                        Todos os orçamentos são feitos no período da manhã, sendo passados no dia seguinte, ou seja, em 1 dia
                        útil, em alguns casos que o problema está difícil de encontrar ou algum teste demore mais.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>